/* Footer styling */
.footer {
    background-color: #333; /* Dark background */
    color: #fff; /* White text */
    padding: 20px;
}

/* Footer top section */
.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.footer-top-left, .footer-top-right {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.footer-top-left img  {
    max-width: 100%; 
    height: auto;
    margin-top: 10px;
}

.footer-top-right img {
    max-width: 80px; 
    height: auto;
    object-fit: contain; 
    margin-top: 10px;
}


.footer-top-left h3, .footer-top-right h3 {
    margin-bottom: 10px;
    font-size: 18px; 
}

.footer-top-left p, .footer-top-right p {
    margin: 0;
    font-size: 16px;
}

/* Horizontal divider */
.footer-divider {
    border: none;
    border-top: 1px solid #444;
    margin: 20px 0;
}


.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.footer-bottom-left, .footer-bottom-center, .footer-bottom-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    margin-left: 40px;
}

.footer-bottom-left img, .footer-bottom-right img {
    max-width: 100px; 
    height: auto;
    margin-top: 10px;
}

.footer-bottom-left h3, .footer-bottom-center h3, .footer-bottom-right h3 {
    margin-bottom: 10px;
    font-size: 18px; 
}

.footer-bottom p {
    margin: 0;
    font-size: 16px;
}


.footer-bottom-extra {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

.footer-bottom-extra p {
    margin: 0;
    font-size: 16px;
}


@media (max-width: 768px) {
    .footer-top, .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-top-left, .footer-top-right {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .footer-bottom-extra {
        flex-direction: column;
    }

    .footer-bottom-left, .footer-bottom-center, .footer-bottom-right {
        align-items: flex-start;
        margin-left: 0;
    }
}

